# Pivot Example with the Spark SQL ReAct Agent

In [1]:
from pyspark_ai import SparkAI

spark_ai = SparkAI(verbose=True)
spark_ai.activate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/07 20:48:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

INFO: The pyspark.sql.connect.dataframe module could not be imported. This might be due to your PySpark version being below 3.4.

# Example 1: Bikes

In [2]:
spark = spark_ai._spark
# create a dataframe containing different bike product_catagory and product_count
df = spark.createDataFrame(
    [
        ("children bike", 20),
        ("comfort bike", 15),
        ("mountain bike", 10),
        ("electric bike", 5),
        ("road bike", 3),
        ("cruisers bike", 8)
    ],
    ["product_category", "product_count"]
)

In [3]:
df.ai.transform("pivot using product_category for product_count").show()

INFO: Creating temp view for the transform:
df.createOrReplaceTempView("spark_ai_temp_view_986ea9")



> Entering new AgentExecutor chain...
Thought: Spark SQL does not support dynamic pivot operations, which are required to transpose the table as requested. I should get all the distinct values of column product_category.
Action: query_sql_db
Action Input: "SELECT DISTINCT product_category FROM spark_ai_temp_view_986ea9"

Observation: [('children bike',), ('comfort bike',), ('mountain bike',), ('electric bike',), ('road bike',), ('cruisers bike',)]
Thought:I can write a query to pivot the table by product_category and sum the product_count for each category.
Action: query_validation
Action Input: SELECT * FROM spark_ai_temp_view_986ea9 PIVOT (SUM(product_count) FOR product_category IN ('children bike', 'comfort bike', 'mountain bike', 'electric bike', 'road bike', 'cruisers bike'))
Observation: OK
Thought:I now know the final answer.
Final Answer: SELECT * FROM spark_ai_temp_view_986ea9 PIVOT (SUM(product_count) FOR product_category IN ('children bike', 'comfort bike', 'mountain bike', 'electric bike', 'road bike', 'cruisers bike'))

> Finished chain.
INFO: SQL query:
SELECT * FROM spark_ai_temp_view_986ea9 PIVOT (SUM(product_count) FOR product_category IN ('children bike', 'comfort bike', 'mountain bike', 'electric bike', 'road bike', 'cruisers bike'))

+-------------+------------+-------------+-------------+---------+-------------+
|children bike|comfort bike|mountain bike|electric bike|road bike|cruisers bike|
+-------------+------------+-------------+-------------+---------+-------------+
|           20|          15|           10|            5|        3|            8|
+-------------+------------+-------------+-------------+---------+-------------+

# Example 2: Grades

In [4]:
df2 = spark.createDataFrame(
    [
        ("A", "English", 45),
        ("A", "Maths", 50),
        ("A", "Science", 55),
        ("B", "English", 75),
        ("B", "Maths", 80),
        ("B", "Science", 85),
        ("C", "English", 90),
        ("C", "Maths", 95),
        ("C", "Science", 100),
    ],
    ["Student", "Subject", "Marks"]
)

In [5]:
df2.ai.transform("pivot using Subject for Marks").show()

INFO: Creating temp view for the transform:
df.createOrReplaceTempView("spark_ai_temp_view_833d28")



> Entering new AgentExecutor chain...
Thought: Spark SQL does not support dynamic pivot operations, which are required to transpose the table as requested. I should get all the distinct values of column Subject.
Action: query_sql_db
Action Input: "SELECT DISTINCT Subject FROM spark_ai_temp_view_833d28"
Observation: [('English',), ('Maths',), ('Science',)]
Thought:I can write a query to pivot the table by Subject and sum the Marks for each Student and Subject combination.
Action: query_validation
Action Input: SELECT * FROM spark_ai_temp_view_833d28 PIVOT (SUM(Marks) FOR Subject IN ('English', 'Maths', 'Science'))
Observation: OK
Thought:I now know the final answer.
Final Answer: SELECT * FROM spark_ai_temp_view_833d28 PIVOT (SUM(Marks) FOR Subject IN ('English', 'Maths', 'Science'))

> Finished chain.
INFO: SQL query:
SELECT * FROM spark_ai_temp_view_833d28 PIVOT (SUM(Marks) FOR Subject IN ('English', 'Maths', 'Science'))

+-------+-------+-----+-------+
|Student|English|Maths|Science|
+-------+-------+-----+-------+
|      B|     75|   80|     85|
|      C|     90|   95|    100|
|      A|     45|   50|     55|
+-------+-------+-----+-------+